<a href="https://colab.research.google.com/github/mp308/Data_analysis_withPython/blob/main/6421650791_Sanpitch_wongnai_wx.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
w_restaurant = pd.read_csv('w_restaurant.csv')

In [ ]:
#การดูข้อมูล xx ตัวแรก
w_restaurant.head(10)

,id,name,domain_id,closed,city_name,zipcode,geohash,new_open,weighted_average_rating,number_of_chains,...,good_for_groups,good_for_kids,bookable,best_of_wongnai,wifi,number_of_seats,music_venue,hotel_restaurant,pet_friendly,delivery
0,2,นครินทร์ทันตกรรม,2,0,Samut Songkhram,75000,w4rh7g3,0,5.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,13.0,NaN,NaN,NaN,NaN
1,4,Corner House,1,0,Bangkok Metropolitan Region,12150,w4rx73h,0,2.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5,วัดโลกยสุธาราม,4,0,Phra Nakhon Si Ayutthaya,13000,w4x98jk,0,4.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6,นันท์คาราโอเกะ,1,0,Bangkok Metropolitan Region,10700.0,w4rqw9q,0,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7,Buono Caffe,1,0,Bangkok Metropolitan Region,10220,w4rx4gd,0,3.738462,NaN,...,NaN,NaN,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN
5,14,บ้านมุมสบาย,1,0,Chon Buri,NaN,w4rgsyz,0,5.000000,NaN,...,1.0,1.0,1.0,NaN,1.0,5.0,1.0,0.0,0.0,0.0
6,15,Hing Fat Resteurant,1,0,New Territories,NaN,wecny4b,0,3.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,16,Sazanami,1,0,Bangkok Metropolitan Region,10110,w4rw0sp,0,4.130435,NaN,...,1.0,1.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN
8,20,ครัวทิพวัลย์,1,0,Krabi,81170.0,w1qe9m1,0,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,21,นกน้ำเต้าหู้,1,0,Narathiwat,96000,w30kt51,0,3.000000,NaN,...,NaN,NaN,NaN,NaN,0.0,2.0,NaN,NaN,NaN,NaN

In [ ]:
w_restaurant.shape

(246847, 32)

In [ ]:
w_restaurant.columns

Index(['id', 'name', 'domain_id', 'closed', 'city_name', 'zipcode', 'geohash',
       'new_open', 'weighted_average_rating', 'number_of_chains',
       'number_of_bookmarks', 'number_of_reviews', 'number_of_product_tags',
       'total_number_of_views', 'number_of_checkins', 'number_of_menu_groups',
       'number_of_menu_photos', 'category_name', 'price_range', 'avg_price',
       'parking', 'credit_card_accepted', 'good_for_groups', 'good_for_kids',
       'bookable', 'best_of_wongnai', 'wifi', 'number_of_seats', 'music_venue',
       'hotel_restaurant', 'pet_friendly', 'delivery'],
      dtype='object')

In [ ]:
select_column = ['id','name','weighted_average_rating']
w_restaurant_projection = w_restaurant.loc[:, select_column]
w_restaurant_projection.head(5)

   id              name  weighted_average_rating
0   2  นครินทร์ทันตกรรม                 5.000000
1   4      Corner House                 2.000000
2   5    วัดโลกยสุธาราม                 4.000000
3   6    นันท์คาราโอเกะ                 0.000000
4   7       Buono Caffe                 3.738462

In [ ]:
#1
select_column = ['id','name','total_number_of_views','number_of_reviews','avg_price']
w_restaurant_projection = w_restaurant.loc[:, select_column]
w_restaurant_projection.head(10)

,id,name,total_number_of_views,number_of_reviews,avg_price
0,2,นครินทร์ทันตกรรม,3016,1,NaN
1,4,Corner House,321,1,NaN
2,5,วัดโลกยสุธาราม,167,0,NaN
3,6,นันท์คาราโอเกะ,901,0,NaN
4,7,Buono Caffe,2360,3,NaN
5,14,บ้านมุมสบาย,930,0,NaN
6,15,Hing Fat Resteurant,859,3,NaN
7,16,Sazanami,10785,6,NaN
8,20,ครัวทิพวัลย์,177,0,NaN
9,21,นกน้ำเต้าหู้,414,1,NaN

In [ ]:
condition = w_restaurant['weighted_average_rating'] > 3.0
w_restaurant_selection = w_restaurant.loc[condition,:]
print(w_restaurant_selection.shape)
w_restaurant_selection.head(10)

(116370, 32)

,id,name,domain_id,closed,city_name,zipcode,geohash,new_open,weighted_average_rating,number_of_chains,...,good_for_groups,good_for_kids,bookable,best_of_wongnai,wifi,number_of_seats,music_venue,hotel_restaurant,pet_friendly,delivery
0,2,นครินทร์ทันตกรรม,2,0,Samut Songkhram,75000,w4rh7g3,0,5.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,13.0,NaN,NaN,NaN,NaN
2,5,วัดโลกยสุธาราม,4,0,Phra Nakhon Si Ayutthaya,13000,w4x98jk,0,4.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7,Buono Caffe,1,0,Bangkok Metropolitan Region,10220,w4rx4gd,0,3.738462,NaN,...,NaN,NaN,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN
5,14,บ้านมุมสบาย,1,0,Chon Buri,NaN,w4rgsyz,0,5.000000,NaN,...,1.0,1.0,1.0,NaN,1.0,5.0,1.0,0.0,0.0,0.0
7,16,Sazanami,1,0,Bangkok Metropolitan Region,10110,w4rw0sp,0,4.130435,NaN,...,1.0,1.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN
10,24,Rotee Me Chabu,1,0,Bangkok Metropolitan Region,12130,w4rx3ys,0,4.047619,NaN,...,1.0,1.0,1.0,NaN,0.0,2.0,NaN,NaN,NaN,NaN
11,27,แพอาหารธาราบุรี,1,0,Kanchanaburi,71000.0,w4qzbb4,0,3.568245,NaN,...,1.0,1.0,1.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN
12,28,Milkcow,1,0,Singapore,NaN,w21z7he,0,5.000000,NaN,...,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,34,Mott 32,1,0,New Territories,NaN,wecnvb0,0,4.513072,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,38,บะหมี่ ลูกชิ้นปลา,1,0,Bangkok Metropolitan Region,10100,w4rqpk8,0,3.055556,NaN,...,NaN,NaN,NaN,NaN,0.0,2.0,NaN,NaN,NaN,NaN

In [ ]:
#2
select_column = ['id','name','weighted_average_rating','number_of_checkins']
condition = w_restaurant['number_of_checkins'] > 1
w_restaurant_selection = w_restaurant.loc[condition,select_column]
print(w_restaurant_selection.shape)
w_restaurant_selection.head(10)

(65556, 4)

,id,name,weighted_average_rating,number_of_checkins
7,16,Sazanami,4.130435,2
10,24,Rotee Me Chabu,4.047619,2
11,27,แพอาหารธาราบุรี,3.568245,26
12,28,Milkcow,5.000000,2
13,29,Jeep Came อาหารป่า & ดนตรี,0.000000,2
16,34,Mott 32,4.513072,12
26,49,ขส. สเต็ก,2.714286,7
29,52,A Day in Summer,3.392344,9
30,54,Angkor Aran,0.000000,2
36,70,Wrap Master,3.629630,3

In [ ]:
condition = w_restaurant['city_name'] == 'Chiang Mai'
w_restaurant_selection = w_restaurant.loc[condition,:]
print(w_restaurant_selection.shape)
w_restaurant_selection.head(10)

(15670, 32)

,id,name,domain_id,closed,city_name,zipcode,geohash,new_open,weighted_average_rating,number_of_chains,...,good_for_groups,good_for_kids,bookable,best_of_wongnai,wifi,number_of_seats,music_venue,hotel_restaurant,pet_friendly,delivery
36,70,Wrap Master,1,0,Chiang Mai,NaN,w5q6unc,0,3.629630,NaN,...,1.0,1.0,0.0,NaN,NaN,5.0,0.0,0.0,0.0,1.0
40,75,Sozen,1,0,Chiang Mai,NaN,w5q6unh,0,3.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,98,ไวท์ดราก้อน หมูกะทะ,1,0,Chiang Mai,NaN,w5q6vwb,0,4.000000,NaN,...,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,111,เต-ชา ก๋วยเตี๋ยวไข่ไดโนเสาร์,1,0,Chiang Mai,NaN,w5qqhjs,0,3.984000,NaN,...,1.0,1.0,0.0,NaN,1.0,2.0,0.0,0.0,0.0,0.0
79,147,ก๋วยเตี๋ยวเรือสะใจ,1,0,Chiang Mai,NaN,w5q6vrg,0,3.576923,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,198,กาแฟชะมด,1,0,Chiang Mai,50210,w5q7jev,0,5.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
101,200,ป้าจ๋อย,1,0,Chiang Mai,NaN,w5q7hpf,0,3.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
152,350,ไมค์สออริจินัล,1,0,Chiang Mai,50000.0,w5q6uex,0,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153,351,ขาหมู คุณแน็ค,1,0,Chiang Mai,NaN,w5q6ujg,0,4.000000,NaN,...,NaN,NaN,NaN,NaN,1.0,2.0,NaN,NaN,NaN,1.0
164,369,มิยูกิ,1,0,Chiang Mai,50000.0,w5q6ug3,0,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#วิธีดูว่าในคอลัมนั้นมีอะไรบ้าง
w_restaurant['city_name'].unique()

array(['Samut Songkhram', 'Bangkok Metropolitan Region',
       'Phra Nakhon Si Ayutthaya', 'Chon Buri', 'New Territories',
       'Krabi', 'Narathiwat', 'Kanchanaburi', 'Singapore', 'เขาใหญ่',
       'Nakhon Sawan', 'Phitsanulok', 'Chiang Rai', 'Sa Kaeo', 'Nan',
       'Okayama-ken', 'Chiang Mai', 'Ranong', 'Thailand', 'สงขลา',
       'Nakhon Ratchasima', 'Rayong', 'Phuket', 'Chachoengsao', 'Texas',
       'Udon Thani', 'Kedah', 'Prachuap Khiri Khan', 'New Taipei City',
       'Kalasin', 'Illinois', 'Khon Kaen', 'Nong Khai', 'Ratchaburi',
       'Ubon Ratchathani', 'Taipei City', 'Tak', 'Taoyuan City', 'Seoul',
       'Surat Thani', 'Nakhon Si Thammarat', 'Trang', 'Surin',
       'Phang-nga', 'Saraburi', 'Lampang', 'Loei', 'Mandalay Region',
       'Hua Hin', 'Phetchabun', 'Kamphaeng Phet', 'Trat', 'Phrae',
       'Yangon', 'Phayao', 'England', 'Kanagawa-ken', 'Sing Buri',
       'Roi Et', 'Chumphon', 'Uthai Thani', 'Suphan Buri', 'Lopburi',
       'Maha Sarakham', 'Buri Ram', 'Bueng Kan', 'Phichit', 'Hawaii',
       'Nong Bua Lam Phu', 'Lamphun', 'Amnat Charoen', 'Kyoto-fu',
       'Shiga-ken', 'Punjab', 'Chiba-ken', 'Mukdahan', 'Sakon Nakhon',
       'Bali', 'Phatthalung', 'CALABARZON', 'Chanthaburi',
       'Luang Prabang Province', 'Prachin Buri', 'New York', 'Zurich',
       'Hyogo-ken', 'Chaiyaphum', 'Selangor', 'Uttaradit', 'Malacca',
       'Gifu-ken', 'Hokkaido', 'Sukhothai', 'Rīgas pilsēta',
       'Central Development Region', 'Guangdong Sheng', 'Pattani',
       'Veneto', 'Ang Thong', 'Incheon', 'Nakhon Nayok', 'Tokyo-to',
       'Jawa Timur', 'Yala', 'Dubai', 'Chai Nat', 'Phetchaburi',
       'Hồ Chí Minh', 'Nakhon Phanom', 'Phnom Penh', 'Yasothon', 'Busan',
       'Ōita-ken', 'California', 'Gyeonggi-do', 'Ohio',
       'Newfoundland and Labrador', 'Luxembourg', 'Ōsaka-fu', 'Satun',
       'Shan', 'Si Sa Ket', 'pomorskie', 'Pennsylvania', 'Scotland',
       'Metro Manila', 'Noord-Holland', 'Aichi-ken', 'Victoria',
       'Fukuoka-ken', 'New South Wales', 'Hessen', 'Istanbul', 'Florida',
       'Hà Nội', 'Hiroshima-ken', 'Chongqing Shi', 'Bayern',
       'Okinawa-ken', 'Vaud', 'Queensland', 'Ontario', 'Chiayi County',
       'Johor', 'Hampshire', 'Jihočeský kraj', 'Taichung City',
       'Greater London', 'Tochigi-ken', 'Quảng Nam', 'Kaohsiung City',
       'Jeju-do', 'Auvergne-Rhône-Alpes', 'Central Visayas', 'Vlaanderen',
       'Binh Thuan province', 'Shandong Sheng', 'Miyagi-ken',
       'Canterbury', 'Shaanxi Sheng', 'Kumamoto-ken', 'Virginia',
       'Moscow', 'Siem Reap', 'Utah', 'Oregon', 'Penang', 'Prague',
       'North Central Province', 'Nagano-ken', 'Yamanashi-ken',
       'Akita-ken', 'Champasak Province',
       'Brussels Hoofdstedelijk Gewest', 'Lazio', 'Pahang',
       'Stockholms län', 'Đà Nẵng', 'Nevada', 'Île-de-France',
       'Nantou County', 'Alberta', 'Vientiane Province', 'Saxony',
       'Nagasaki-ken', 'Toyama-ken', 'Daerah Brunei-Muara',
       'Shizuoka-ken', 'Yamagata-ken', 'Auckland', 'Wien',
       'Saint Petersburg', 'Berlin', 'Vientiane Prefecture', 'Nevsehir',
       'Bern', 'Macau', 'Cambodia', 'Lombardia', 'Otago', 'Lâm Đồng',
       'Wilayah Persekutuan Putrajaya', 'Shanghai', 'Hunan', 'Saga-ken',
       'Yunnan Sheng', 'Fujian Sheng', 'Hsinchu City', 'Waterford',
       'Capital Governorate', 'Jiangsu Sheng', 'Schaffhausen',
       'South Carolina', 'Quebec', 'Piemonte', 'Kowloon',
       'Northern Ireland', 'Valais', 'Tuscany', 'Bratislava',
       'Saitama-ken', 'Baden-Wurttemberg', 'Maharashtra', 'West Sussex',
       'Oberösterreich', 'Colorado', 'Gyeongsangbuk-do', 'Waikato',
       'Liguria', 'Bago Region', 'Guangxi Zhuangzuzizhiqu', 'Oslo',
       'Australia', 'İzmir', 'Nghệ An', 'Jeollabuk-do', 'Gunma-ken',
       'Minnesota', 'Catalonia', 'Bay Of Plenty', 'Karlovy Vary Region',
       'Basel-Stadt', 'Utrecht', 'Niigata-ken', 'Höfn í Hornafirði',
       'Michigan', 'Buckinghamshire', 'Mayo', 'Bihar',
       'Western Australia', 'Pulau Pinang', 'Bretagne',
       'Nordrhein-Westfalen', "Murmanskaya oblast'", 'Finland',
       'Sichuan Sheng', 'Ishikawa-ken', 'Zhejiang', 'Comunidad de Madrid',
       'Województwo podkarpackie', 'Lao Cai', 'Lisboa', 'China',
       'København', 'Tamil Nadu', 'Grand Est', 'Salzburg', 'Ibaraki-ken',
       'Banten', 'Washington', 'Svay Rieng', 'Fukushima-ken', 'Hordaland',
       'British Columbia', 'Sumatera Utara', 'Qatar',
       'Jakarta Capital Region', 'Attica', 'lubelskie',
       'Chungcheongnam-do', 'Espoo', 'Delhi', 'Tirol', 'Kepulauan Riau',
       'Sankt Gallen', 'Gangwon-do', 'Al Farwaniyah Governorate',
       'Khánh Hoà', 'Southern Islands', "Moskovskaya oblast'",
       'Negeri Sembilan', "Provence-Alpes-Côte d'Azur", 'Keelung City',
       'Tasmania', 'Palau', 'Dubrovačko-neretvanska županija',
       'Tanintharyi Region', 'Niederösterreich', 'Luzern',
       'Yamaguchi-ken', 'Perak', 'Jharkhand', 'wielkopolskie',
       'Greater Manchester', 'Inner Mongolia', 'Rheinland-Pfalz', 'Vaduz',
       'Pakistan', 'Xinjiang Weiwuerzizhiqu', 'Koh Kong Province',
       'Obwalden', 'Fribourg', 'Savannakhet Province', 'Nara-ken',
       'Primorsko-goranska županija', 'Limerick', 'Kelantan',
       'Sainyabuli Province', 'Iwate-ken', 'Naxos', 'Fukui-ken',
       'Ireland', 'Mon State', 'Western Cape', 'Basrah', 'Thimphu',
       'Munxar', 'Hiiraan', 'Khammouane Province', 'Battambang',
       'Budapest', 'Wakayama-ken', 'Ticino', 'George Town',
       'County Dublin', 'Postojna', 'kujawsko-pomorskie', 'Kagoshima',
       'Hauts-de-France', 'Graubünden', 'محافظة المحرق', 'County Kerry',
       'Liaoning', 'Mie-ken', 'Harju maakond', 'małopolskie', 'Abu Dhabi',
       'Jawa Barat', 'Normandie', 'Stavropolskiy kray', 'Quảng Ninh',
       'Gombe', 'Arizona', 'Preah Sihanouk', 'West Midlands', 'Federal',
       'Magway Region', 'Plzeň Region', 'Dar es Salaam', 'Capital Region',
       'Tainan City', 'Cusco', 'Uttar Pradesh', 'Zuid-Holland',
       'Wisconsin', 'Maryland', 'Gloucestershire', 'Region Zealand',
       'Telangana', 'Thua Thien Hue', 'Georgia',
       'Mid-Western Development Region', 'Ličko-senjska županija',
       'Southland', 'Appenzell Innerrhoden', 'Massachusetts', 'Wales',
       'Niedersachsen', 'Valletta', 'Buskerud',
       'Capital Region of Denmark', 'Oklahoma', 'Geneva',
       'City of Zagreb', 'Riau', 'Akershus', 'Troms', 'Binh Thuan',
       'Slough', 'Điện Biên', 'Centre-Val de Loire', 'Balochistan',
       "Leningradskaya oblast'", 'Chiayi City', 'District of Columbia',
       'Jiangxi Sheng', 'Qinghai Sheng', 'Masovian Voivodeship',
       'Aomori-ken', 'Vantaa', 'Bremen', 'Alabama', 'Primorskiy kray',
       'Județul Constanța', 'Banteay Meanchey Province', 'Uri',
       'Daerah Istimewa Yogyakarta', 'Appenzell Ausserrhoden', 'Tehran',
       'Tianjin', 'Castilla-La Mancha', 'Sachsen-Anhalt', 'Madrid',
       'Tottori-ken', 'Région de Kidal', 'Hsinchu County', 'Iceland',
       'Xizang (Tibet)', 'Bahia', 'West Bengal', 'Setúbal', 'Sabah',
       'Pardubice Region', 'India', 'Departamento de Potosí', 'Kayes',
       'Porto', 'Gelderland', 'Lac', 'Andalucía', 'Shanxi Sheng', 'Daegu',
       'C2 MALL', 'Departamento de La Paz', 'Çanakkale', 'Marlborough',
       'Yilan County', 'County Galway', 'Vorarlberg', 'Karnataka',
       'Splitsko-dalmatinska županija', 'New Hampshire', 'Guinea',
       'Hainan Sheng', 'County Cork', 'Nouvelle-Aquitaine', 'Trabzon',
       'Maldives', 'Lithuania', 'Wallonie', 'Alaska', 'Aragón',
       'Luxor Governorate', 'Denizli', 'Lancashire', 'Argyll and Bute',
       'Northern Territory', 'Ehime-ken', 'Borno', 'Finnmark',
       'Cairo Governorate', 'Oaxaca', 'Basilicata', 'Daejeon',
       'Ba Ria - Vung Tau', 'Kinshasa', 'Khartoum', 'Yunlin County',
       'Lima', "Novosibirskaya oblast'", 'New Jersey', 'İstanbul',
       "Vladimirskaya oblast'", 'Aydın', 'tỉnh Kiên Giang',
       'Nusa Tenggara Barat', 'Louisiana', 'Changhua County',
       'New Zealand'], dtype=object)

In [ ]:
# 3.1
condition = w_restaurant['city_name'] == 'Kanchanaburi'
w_restaurant_selection = w_restaurant.loc[condition,:]
print(w_restaurant_selection.shape)
w_restaurant_selection.head(10)

(2216, 32)

,id,name,domain_id,closed,city_name,zipcode,geohash,new_open,weighted_average_rating,number_of_chains,...,good_for_groups,good_for_kids,bookable,best_of_wongnai,wifi,number_of_seats,music_venue,hotel_restaurant,pet_friendly,delivery
11,27,แพอาหารธาราบุรี,1,0,Kanchanaburi,71000.0,w4qzbb4,0,3.568245,NaN,...,1.0,1.0,1.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN
38,72,ร้านอาหารนายเหลียง,1,0,Kanchanaburi,71000.0,w4qz9n9,0,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,74,ร้านลาบอีสานต้น&แต,1,0,Kanchanaburi,NaN,w4qzbck,0,3.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111,220,แควน้อยรีเวอร์พาร์ครีสอร์ท,3,0,Kanchanaburi,71150,w4w80uw,0,0.000000,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,0.0,NaN
139,289,เดอะริเวอร์ฮิลล์รีสอร์ท,3,0,Kanchanaburi,71000,w4qz8vd,0,0.000000,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN
315,611,ทิพรัตน์แควใหญ่รีสอร์ท,1,0,Kanchanaburi,71150.0,w4w98qd,0,3.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
375,685,ปูดอง นายจิว ซีฟู๊ด,1,0,Kanchanaburi,NaN,w4wfyru,0,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
430,773,Sweet Coffee,1,0,Kanchanaburi,NaN,w4w576d,0,3.397436,NaN,...,1.0,1.0,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN
445,796,ข้าวแกงเมืองกาญจน์,1,0,Kanchanaburi,71000.0,w4qzbm5,0,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
622,1024,พริกแกง,1,0,Kanchanaburi,71190.0,w4w8nnm,0,3.622222,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# 3.2
select_column = ['id','name','category_name']
condition = w_restaurant['category_name'] == 'Japanese'
w_restaurant_selection = w_restaurant.loc[condition,select_column]
print(w_restaurant_selection.shape)
w_restaurant_selection.head(10)

(3902, 3)

      id                        name category_name
7     16                    Sazanami      Japanese
33    63           Ajitsukasa Nomura      Japanese
102  203    Fuji Japanese Restaurant      Japanese
228  476               Daimaru Gyoza      Japanese
233  482        Tsunami Sushi Buffet      Japanese
328  626                      ซาซากิ      Japanese
356  659       Daiichi Ramen & Curry      Japanese
412  741         Tempura Endo Yasaka      Japanese
413  742                  The Garden      Japanese
449  801  Azuma TONGKATSU & Egg Bowl      Japanese

In [ ]:
#.str.startswith('Nakhon') ร้านที่ขึ้นต้นด้วย นคร
condition = w_restaurant['city_name'].str.startswith('Nakhon')
w_restaurant_selection = w_restaurant.loc[condition,:]
print(w_restaurant_selection.shape)
w_restaurant_selection.head(10)

(11642, 32)

,id,name,domain_id,closed,city_name,zipcode,geohash,new_open,weighted_average_rating,number_of_chains,...,good_for_groups,good_for_kids,bookable,best_of_wongnai,wifi,number_of_seats,music_venue,hotel_restaurant,pet_friendly,delivery
17,35,ก๋วยเตี๋ยวเย็นตาโฟเจ๊หมวย นครสวรรค์,1,0,Nakhon Sawan,60000,w4z1q7n,0,0.000000,NaN,...,1.0,1.0,0.0,NaN,1.0,3.0,NaN,NaN,NaN,NaN
49,93,ร้านอาหารสวนมะม่วง,1,0,Nakhon Ratchasima,30240.0,w68vr7v,0,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,189,ก๋วยเตี๋ยวเรือไทยย้อนยุค,1,0,Nakhon Ratchasima,30000.0,w68t14p,0,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,203,Fuji Japanese Restaurant,1,0,Nakhon Sawan,60000,w4z1q6e,0,4.368421,NaN,...,1.0,1.0,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN
108,215,The Witches Brew Diner & Bar,1,0,Nakhon Ratchasima,30130,w684eqt,0,4.111111,NaN,...,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130,266,อาซิส ข้าวมันไก่-ข้าวหมกไก่,1,0,Nakhon Si Thammarat,80160,w1x13ch,0,3.000000,NaN,...,1.0,1.0,0.0,NaN,1.0,2.0,NaN,NaN,NaN,NaN
132,269,Tava Coffee เตวา คอฟฟี่ คาเฟ่,1,0,Nakhon Ratchasima,30150,w68e9x6,0,3.593496,NaN,...,1.0,1.0,1.0,NaN,1.0,3.0,NaN,NaN,NaN,NaN
168,375,ก๋วยเตี๋ยวเป่าปาก,1,0,Nakhon Ratchasima,30180,w6c03se,0,4.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
176,397,ร้านอาหารพรรณี,1,0,Nakhon Ratchasima,36000.0,w6b9cvv,0,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197,432,ร้านอาหารบ้านเพื่อนเพลง,1,0,Nakhon Si Thammarat,80240.0,w1qxv5r,0,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#ลงท้ายด้วย .str.endswith('ดงมูลเหล็ก')
condition = w_restaurant['name'].str.endswith('ดงมูลเหล็ก')
w_restaurant_selection = w_restaurant.loc[condition,:]
print(w_restaurant_selection.shape)
w_restaurant_selection.head(10)

(83, 32)

,id,name,domain_id,closed,city_name,zipcode,geohash,new_open,weighted_average_rating,number_of_chains,...,good_for_groups,good_for_kids,bookable,best_of_wongnai,wifi,number_of_seats,music_venue,hotel_restaurant,pet_friendly,delivery
2048,3611,ก๋วยเตี๋ยววัดดงมูลเหล็ก,1,0,Trang,92000,w1qg548,0,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2176,3853,ก๋วยเตี๋ยววัดดงมูลเหล็ก,1,0,Udon Thani,41000,w7154f8,0,0.000000,NaN,...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2571,4591,ก๋วยเตี๋ยวเนื้อตุ๋นเกาเหลาวัดดงมูลเหล็ก,1,0,Bangkok Metropolitan Region,10510.0,w4rww3x,0,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3892,7399,ก๋วยเตี๋ยวดงมูลเหล็ก,1,0,Phrae,54000.0,w5ppngf,0,4.000000,NaN,...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7990,14340,ก๋วยเตี๋ยววัดดงมูลเหล็ก,1,0,Ratchaburi,NaN,w4qvd39,0,3.000000,NaN,...,1.0,1.0,1.0,NaN,0.0,2.0,NaN,NaN,NaN,NaN
8623,15351,ก๋วยเตี๋ยววัดดงมูลเหล็ก,1,0,Phitsanulok,65000,w4zr88x,0,3.413793,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8626,15356,ก๋วยเตี๋ยว-เกาเหลาวัดดงมูลเหล็ก,1,0,Bangkok Metropolitan Region,11000.0,w4rqtut,0,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9592,16797,ก๋วยเตี๋ยวดงมูลเหล็ก,1,0,Bangkok Metropolitan Region,NaN,w4rwjpf,0,3.891304,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10496,18190,ก๋วยเตี๋ยววัดดงมูลเหล็ก,1,0,Bangkok Metropolitan Region,NaN,w4rw815,0,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12241,20894,ก๋วยเตี๋ยววัดดงมูลเหล็ก,1,0,Bangkok Metropolitan Region,NaN,w4rqdc7,0,3.509615,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
condition = w_restaurant['name'].str.contains('ไก่')
w_restaurant_selection = w_restaurant.loc[condition,:]
print(w_restaurant_selection.shape)
w_restaurant_selection.head(10)

(7185, 32)

,id,name,domain_id,closed,city_name,zipcode,geohash,new_open,weighted_average_rating,number_of_chains,...,good_for_groups,good_for_kids,bookable,best_of_wongnai,wifi,number_of_seats,music_venue,hotel_restaurant,pet_friendly,delivery
59,110,ไก่ทอดทรงเครื่อง ถนนคนเดิน เชียงแสน,1,0,Chiang Rai,57110,w5x5m9f,0,4.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,122,อู๊ดข้าวมันไก่ตอน,1,0,Bangkok Metropolitan Region,11000,w4rqyfw,0,0.000000,NaN,...,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,197,อาลี ข้าวหมกไก่,1,0,Bangkok Metropolitan Region,11000,w4rqy0w,0,4.173913,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130,266,อาซิส ข้าวมันไก่-ข้าวหมกไก่,1,0,Nakhon Si Thammarat,80160,w1x13ch,0,3.000000,NaN,...,1.0,1.0,0.0,NaN,1.0,2.0,NaN,NaN,NaN,NaN
204,445,ข้าวหมกไก่สยาม-อินโด,1,1,Bangkok Metropolitan Region,NaN,w4rw0x4,1,3.638298,NaN,...,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN
402,727,ก๋วยเตี๋ยวไก่ มะระ,1,0,Bangkok Metropolitan Region,NaN,w4rwdwf,0,4.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
418,750,กุ๊กไก่อาหารป่า,1,0,Bangkok Metropolitan Region,12120.0,w4rxf4m,0,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
459,814,เจ็งก๋วยเตี๋ยวไก่,1,0,Mukdahan,49000.0,w6fqnfb,0,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
465,827,เจ๊เตือนข้าวมันไก่,1,0,Ratchaburi,70000.0,w4qv6px,0,3.632184,NaN,...,1.0,1.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
500,869,ข้าวมันไก่ตอน,1,0,Bangkok Metropolitan Region,NaN,w4rw8mz,0,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# 4.1
condition = w_restaurant['name'].str.startswith('ก๋วยเตี๋ยว')
w_restaurant_selection = w_restaurant.loc[condition,:]
print(w_restaurant_selection.shape)
w_restaurant_selection.head(10)

(11372, 32)

,id,name,domain_id,closed,city_name,zipcode,geohash,new_open,weighted_average_rating,number_of_chains,...,good_for_groups,good_for_kids,bookable,best_of_wongnai,wifi,number_of_seats,music_venue,hotel_restaurant,pet_friendly,delivery
17,35,ก๋วยเตี๋ยวเย็นตาโฟเจ๊หมวย นครสวรรค์,1,0,Nakhon Sawan,60000,w4z1q7n,0,0.000000,NaN,...,1.0,1.0,0.0,NaN,1.0,3.0,NaN,NaN,NaN,NaN
42,78,ก๋วยเตี๋ยวเป็ด ณ.พัทยา,1,0,Chon Buri,NaN,w4rc8m4,0,2.823529,NaN,...,1.0,1.0,1.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
79,147,ก๋วยเตี๋ยวเรือสะใจ,1,0,Chiang Mai,NaN,w5q6vrg,0,3.576923,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,189,ก๋วยเตี๋ยวเรือไทยย้อนยุค,1,0,Nakhon Ratchasima,30000.0,w68t14p,0,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,234,ก๋วยเตี๋ยวชามกะลา,1,0,Tak,NaN,w5n0d5b,1,4.500000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137,284,ก๋วยเตี๋ยวกาละมัง ปราสาท,1,0,Surin,NaN,w69e313,0,3.018519,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
168,375,ก๋วยเตี๋ยวเป่าปาก,1,0,Nakhon Ratchasima,30180,w6c03se,0,4.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
181,403,ก๋วยเตี๋ยวเรือนายเลิศ,1,0,Bangkok Metropolitan Region,12130.0,w4rx99y,0,3.030928,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
214,460,ก๋วยเตี๋ยวเรือต้นน้ำ,1,0,Bangkok Metropolitan Region,10250.0,w4rwh3h,0,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
217,464,ก๋วยเตี๋ยวต้มยำโบราณร้านป้า,1,0,Bangkok Metropolitan Region,11000,w4rqzhu,0,4.761905,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# 4.2
condition = w_restaurant['city_name'].str.endswith('buri')
w_restaurant_selection = w_restaurant.loc[condition,:]
print(w_restaurant_selection.shape)
w_restaurant_selection.head(10)

(10878, 32)

,id,name,domain_id,closed,city_name,zipcode,geohash,new_open,weighted_average_rating,number_of_chains,...,good_for_groups,good_for_kids,bookable,best_of_wongnai,wifi,number_of_seats,music_venue,hotel_restaurant,pet_friendly,delivery
11,27,แพอาหารธาราบุรี,1,0,Kanchanaburi,71000.0,w4qzbb4,0,3.568245,NaN,...,1.0,1.0,1.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN
38,72,ร้านอาหารนายเหลียง,1,0,Kanchanaburi,71000.0,w4qz9n9,0,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,74,ร้านลาบอีสานต้น&แต,1,0,Kanchanaburi,NaN,w4qzbck,0,3.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,178,เจ๊แดง หนองกลางแตง,1,0,Ratchaburi,70120.0,w4rjb7c,0,3.626943,NaN,...,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111,220,แควน้อยรีเวอร์พาร์ครีสอร์ท,3,0,Kanchanaburi,71150,w4w80uw,0,0.000000,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,0.0,NaN
139,289,เดอะริเวอร์ฮิลล์รีสอร์ท,3,0,Kanchanaburi,71000,w4qz8vd,0,0.000000,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN
154,352,คุ้มอีสาน 2,1,0,Saraburi,18140,w4x9wg2,0,4.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159,362,กินอิ่ม จิ้มจุ่ม ปากช่อง,1,0,Saraburi,18180.0,w6857rs,0,5.000000,NaN,...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
286,573,ยายแป๊ว อาหารตามสั่ง,1,0,Lopburi,15000,w4xs41y,0,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310,606,พี.เจ. หมูย่างเกาหลี,1,0,Lopburi,15120.0,w4xteys,0,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# 4.3
condition = w_restaurant['name'].str.contains('สุกี้')
w_restaurant_selection = w_restaurant.loc[condition,:]
print(w_restaurant_selection.shape)
w_restaurant_selection.head(10)

(749, 32)

,id,name,domain_id,closed,city_name,zipcode,geohash,new_open,weighted_average_rating,number_of_chains,...,good_for_groups,good_for_kids,bookable,best_of_wongnai,wifi,number_of_seats,music_venue,hotel_restaurant,pet_friendly,delivery
405,732,อิ่มจัง ข้าวผัดปู ข้าวผัดสุกี้,1,0,Bangkok Metropolitan Region,NaN,w4rwcv8,0,4.000000,NaN,...,NaN,NaN,NaN,NaN,0.0,2.0,NaN,NaN,NaN,NaN
850,1366,เฝอหม้อไฟ สุกี้สไตล์เวียดนาม,1,0,Bangkok Metropolitan Region,10600,w4rqncg,0,4.161382,NaN,...,NaN,NaN,NaN,2018.0,1.0,5.0,NaN,NaN,NaN,NaN
1090,1727,ซ้งสุกี้กระทะเหล็ก ซีคอนสแควร์,1,0,Bangkok Metropolitan Region,NaN,w4rtfk9,1,3.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1483,2490,สุกี้เรือนทิพย์,1,0,Chiang Rai,NaN,w5wcpsw,0,0.000000,NaN,...,1.0,1.0,1.0,NaN,1.0,4.0,NaN,NaN,NaN,NaN
2241,3954,ร้านสุกี้-แพะตุ๋นโกหย่ง เจ้าเก่าหน้าพระลาน,1,0,Saraburi,18240.0,w4xex3e,0,3.545455,NaN,...,1.0,1.0,0.0,NaN,1.0,2.0,NaN,NaN,NaN,NaN
2246,3962,ก๋วยเตี๋ยวราดหน้า ผัดซีอิ้ว สุกี้ แห้ง น้ำ,1,0,Ratchaburi,NaN,w4qvpb3,0,4.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3091,5659,มินิสุกี้,1,0,Bangkok Metropolitan Region,10220,w4rx5q2,0,0.000000,NaN,...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3164,5903,เจ้ เปิ้ล สุกี้,1,0,Saraburi,NaN,w4xf8kv,0,0.000000,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3208,6026,สุกี้เจ๊แดง ก๋วยเตี๋ยวปากหม้อ ก๋วยจั๊บญวน,1,0,Bangkok Metropolitan Region,10140,w4rmycv,0,3.125000,NaN,...,NaN,NaN,NaN,NaN,0.0,2.0,NaN,NaN,NaN,NaN
3946,7484,เจ้ต้อย สุกี้,1,0,Bangkok Metropolitan Region,73110,w4rq0mj,0,3.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#เลือกอันที่ว่าง
select_column = ['id','name','zipcode']
condition = w_restaurant['zipcode'].isna()
w_restaurant_selection = w_restaurant.loc[condition,select_column]
print(w_restaurant_selection.shape)
w_restaurant_selection.head(10)

(74275, 3)

    id                              name zipcode
5   14                       บ้านมุมสบาย     NaN
6   15               Hing Fat Resteurant     NaN
12  28                           Milkcow     NaN
13  29        Jeep Came อาหารป่า & ดนตรี     NaN
14  30                   The Coffee Shop     NaN
16  34                           Mott 32     NaN
22  42                 ข้าวขาหมู ป้าเพ็ญ     NaN
23  44                  OMG OH MY GELATO     NaN
27  50  ร้านป้าเล็ก ก๋วยจั๊บ คลองบางหลวง     NaN
32  60            น้ำอัดลมโบราณ น่านแน่ะ     NaN

In [ ]:
#เลือกอันที่ไม่ว่าง
select_column = ['id','name','zipcode']
condition = w_restaurant['zipcode'].notna()
w_restaurant_selection = w_restaurant.loc[condition,select_column]
print(w_restaurant_selection.shape)
w_restaurant_selection.head(10)

(172572, 3)

    id              name  zipcode
0    2  นครินทร์ทันตกรรม    75000
1    4      Corner House    12150
2    5    วัดโลกยสุธาราม    13000
3    6    นันท์คาราโอเกะ  10700.0
4    7       Buono Caffe    10220
7   16          Sazanami    10110
8   20      ครัวทิพวัลย์  81170.0
9   21      นกน้ำเต้าหู้    96000
10  24    Rotee Me Chabu    12130
11  27   แพอาหารธาราบุรี  71000.0

In [ ]:
#4.4
new_w_restaurant = w_restaurant['zipcode'].dropna()

condition = new_w_restaurant['zipcode'].str.contains('60')
w_restaurant_selection = w_restaurant.loc[condition,:]
print(w_restaurant_selection.shape)
w_restaurant_selection.head(10)

KeyError: ignored

In [ ]:
#การเชื่อมเงื่อนไข and or not
condition1 =  w_restaurant['zipcode'].notna()
condition2 =  w_restaurant['zipcode'].str.contains('60')
condition = condition1 & condition2
w_restaurant_selection = w_restaurant.loc[condition,:]
print(w_restaurant_selection.shape)
w_restaurant_selection.head(10)

(12835, 32)

,id,name,domain_id,closed,city_name,zipcode,geohash,new_open,weighted_average_rating,number_of_chains,...,good_for_groups,good_for_kids,bookable,best_of_wongnai,wifi,number_of_seats,music_venue,hotel_restaurant,pet_friendly,delivery
9,21,นกน้ำเต้าหู้,1,0,Narathiwat,96000,w30kt51,0,3.000000,NaN,...,NaN,NaN,NaN,NaN,0.0,2.0,NaN,NaN,NaN,NaN
17,35,ก๋วยเตี๋ยวเย็นตาโฟเจ๊หมวย นครสวรรค์,1,0,Nakhon Sawan,60000,w4z1q7n,0,0.000000,NaN,...,1.0,1.0,0.0,NaN,1.0,3.0,NaN,NaN,NaN,NaN
29,52,A Day in Summer,1,0,Bangkok Metropolitan Region,10600.0,w4rqnwh,0,3.392344,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
30,54,Angkor Aran,1,0,Sa Kaeo,10600,w62vv1d,0,0.000000,NaN,...,NaN,NaN,NaN,NaN,1.0,3.0,NaN,1.0,NaN,NaN
46,88,คลินิกทันตกรรมยัวร์แฟมิลี่,2,0,Bangkok Metropolitan Region,10260,w4rtcg5,0,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,96,กัปตันเทเบิลเทอเรส,1,0,Rayong,21160,w60peuj,0,3.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,5.0,NaN,1.0,NaN,NaN
73,134,แม่นางอาหารไทย,1,0,Kalasin,46000.0,w6ct7nq,0,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,203,Fuji Japanese Restaurant,1,0,Nakhon Sawan,60000,w4z1q6e,0,4.368421,NaN,...,1.0,1.0,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN
130,266,อาซิส ข้าวมันไก่-ข้าวหมกไก่,1,0,Nakhon Si Thammarat,80160,w1x13ch,0,3.000000,NaN,...,1.0,1.0,0.0,NaN,1.0,2.0,NaN,NaN,NaN,NaN
163,366,หลินสปา,2,0,Bangkok Metropolitan Region,10160,w4rqht1,0,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#ร้านใน เชียงใหม่ และ กาญ
condition1 = w_restaurant['city_name'] == 'Chiang Mai'
condition2 = w_restaurant['city_name'] == 'Kanchanaburi'
condition = condition1 | condition2
w_restaurant_selection = w_restaurant.loc[condition,:]
print(w_restaurant_selection.shape)
w_restaurant_selection.head(10)

(17886, 32)

,id,name,domain_id,closed,city_name,zipcode,geohash,new_open,weighted_average_rating,number_of_chains,...,good_for_groups,good_for_kids,bookable,best_of_wongnai,wifi,number_of_seats,music_venue,hotel_restaurant,pet_friendly,delivery
11,27,แพอาหารธาราบุรี,1,0,Kanchanaburi,71000.0,w4qzbb4,0,3.568245,NaN,...,1.0,1.0,1.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN
36,70,Wrap Master,1,0,Chiang Mai,NaN,w5q6unc,0,3.629630,NaN,...,1.0,1.0,0.0,NaN,NaN,5.0,0.0,0.0,0.0,1.0
38,72,ร้านอาหารนายเหลียง,1,0,Kanchanaburi,71000.0,w4qz9n9,0,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,74,ร้านลาบอีสานต้น&แต,1,0,Kanchanaburi,NaN,w4qzbck,0,3.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,75,Sozen,1,0,Chiang Mai,NaN,w5q6unh,0,3.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,98,ไวท์ดราก้อน หมูกะทะ,1,0,Chiang Mai,NaN,w5q6vwb,0,4.000000,NaN,...,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,111,เต-ชา ก๋วยเตี๋ยวไข่ไดโนเสาร์,1,0,Chiang Mai,NaN,w5qqhjs,0,3.984000,NaN,...,1.0,1.0,0.0,NaN,1.0,2.0,0.0,0.0,0.0,0.0
79,147,ก๋วยเตี๋ยวเรือสะใจ,1,0,Chiang Mai,NaN,w5q6vrg,0,3.576923,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,198,กาแฟชะมด,1,0,Chiang Mai,50210,w5q7jev,0,5.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
101,200,ป้าจ๋อย,1,0,Chiang Mai,NaN,w5q7hpf,0,3.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#rateting 2-4 and japan
condition1 = w_restaurant['weighted_average_rating'] >= 2
condition2 = w_restaurant['weighted_average_rating'] <= 4
condition3 = w_restaurant['category_name'] == 'Japanese'
condition = (condition1 & condition2) | condition3
w_restaurant_selection = w_restaurant.loc[condition,:]
print(w_restaurant_selection.shape)
w_restaurant_selection.head(10)

(117401, 32)

,id,name,domain_id,closed,city_name,zipcode,geohash,new_open,weighted_average_rating,number_of_chains,...,good_for_groups,good_for_kids,bookable,best_of_wongnai,wifi,number_of_seats,music_venue,hotel_restaurant,pet_friendly,delivery
1,4,Corner House,1,0,Bangkok Metropolitan Region,12150,w4rx73h,0,2.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5,วัดโลกยสุธาราม,4,0,Phra Nakhon Si Ayutthaya,13000,w4x98jk,0,4.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7,Buono Caffe,1,0,Bangkok Metropolitan Region,10220,w4rx4gd,0,3.738462,NaN,...,NaN,NaN,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN
6,15,Hing Fat Resteurant,1,0,New Territories,NaN,wecny4b,0,3.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,16,Sazanami,1,0,Bangkok Metropolitan Region,10110,w4rw0sp,0,4.130435,NaN,...,1.0,1.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN
9,21,นกน้ำเต้าหู้,1,0,Narathiwat,96000,w30kt51,0,3.000000,NaN,...,NaN,NaN,NaN,NaN,0.0,2.0,NaN,NaN,NaN,NaN
11,27,แพอาหารธาราบุรี,1,0,Kanchanaburi,71000.0,w4qzbb4,0,3.568245,NaN,...,1.0,1.0,1.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN
15,32,The Rabbit หมูกระทะนานาชาติ,1,0,Chon Buri,20110,w4rfc75,0,2.846154,NaN,...,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,38,บะหมี่ ลูกชิ้นปลา,1,0,Bangkok Metropolitan Region,10100,w4rqpk8,0,3.055556,NaN,...,NaN,NaN,NaN,NaN,0.0,2.0,NaN,NaN,NaN,NaN
21,41,ธัญรส สาขา 27,1,0,Phitsanulok,65000.0,w4zr9vu,0,4.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#5.1
select_column = ['id','name','city_name','weighted_average_rating']
condition1 = (w_restaurant['weighted_average_rating'] >= 2) & (w_restaurant['city_name'] == 'Chiang Mai')
condition2 = (w_restaurant['weighted_average_rating'] >= 3) & (w_restaurant['city_name'] == 'Ratchaburi')
condition = condition1 | condition2
w_restaurant_selection = w_restaurant.loc[condition,select_column]
print(w_restaurant_selection.shape)
w_restaurant_selection.head(10)

(11902, 4)

      id                          name   city_name  weighted_average_rating
36    70                   Wrap Master  Chiang Mai                 3.629630
40    75                         Sozen  Chiang Mai                 3.000000
52    98           ไวท์ดราก้อน หมูกะทะ  Chiang Mai                 4.000000
60   111  เต-ชา ก๋วยเตี๋ยวไข่ไดโนเสาร์  Chiang Mai                 3.984000
79   147            ก๋วยเตี๋ยวเรือสะใจ  Chiang Mai                 3.576923
92   178            เจ๊แดง หนองกลางแตง  Ratchaburi                 3.626943
100  198                      กาแฟชะมด  Chiang Mai                 5.000000
101  200                       ป้าจ๋อย  Chiang Mai                 3.000000
153  351                 ขาหมู คุณแน็ค  Chiang Mai                 4.000000
196  431                 Beer Republic  Chiang Mai                 3.952000

In [ ]:
#5.2
select_column = ['id','name','avg_price','category_name']
condition1 = (w_restaurant['avg_price'] >= 200) & (w_restaurant['avg_price'] <= 200)
condition2 = w_restaurant['category_name'] == 'Japanese'
condition = condition1 | condition2
w_restaurant_selection = w_restaurant.loc[condition,select_column]
print(w_restaurant_selection.shape)
w_restaurant_selection.head(10)

(3903, 4)

      id                        name  avg_price category_name
7     16                    Sazanami        NaN      Japanese
33    63           Ajitsukasa Nomura        NaN      Japanese
102  203    Fuji Japanese Restaurant        NaN      Japanese
228  476               Daimaru Gyoza        NaN      Japanese
233  482        Tsunami Sushi Buffet        NaN      Japanese
328  626                      ซาซากิ        NaN      Japanese
356  659       Daiichi Ramen & Curry        NaN      Japanese
412  741         Tempura Endo Yasaka        NaN      Japanese
413  742                  The Garden        NaN      Japanese
449  801  Azuma TONGKATSU & Egg Bowl        NaN      Japanese